{% extends "layout.html" %}
{% block extra %}
<style>
    body { background-color: #505050; color: #F8F8F8; }
    a { color: #81c2ff; text-decoration: none; }    
</style>
{% endblock %}
{% block files %}
<table>
    <col width="600">
    <col width="180">
    <col width="300">
    <tr>
        <th align="left">Filename</th>
        <th align="left">Size</th>
        <th align="left">Last modified</th>
    </tr>
    <tr>
        <td><a href="../">Parent directory/</a></td>
        <td>-</td>
        <td>-</td>
    </tr>
    {% for file in ig.files %}
    <tr>
        {% if file.isDir %}
        <td><a href="{{ file.path }}">{{ file.name }}/</a></td>
        <td>-</td>
        {% else %}
        <td><a href="{{ file.path }}">{{ file.name }}</a></td>
        <td>{{ file.size }}</td>
        {% endif %}
        <td>{{ file.modified }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
