{% extends "layout.html" %}
{% block extra %}
<style>
    body { background-color: #F8F8F8; }
</style>
{% endblock %}
{% block files %}
<table>
    <col width="800">
    <col width="200">
    <col width="80">
    <tr>
        <th align="left">Filename</th>
        <th align="left">Last modified</th>
        <th align="left">Size</th>
    </tr>
    <tr>
        <td><a href="../">Parent directory/</a></td>
        <td>-</td>
        <td>-</td>
    </tr>
    {% for dir in ig.dirs %}
    <tr>
        <td><a href="{{ ig.currentPath }}/{{ dir.name }}">{{ dir.name }}/</a></td>
        <td>{{ dir.modified }}</td>
        <td>-</td>
    </tr>
    {% endfor %}
    {% for file in ig.files %}
    <tr>
        <td><a href="{{ ig.currentPath }}/{{ file.name }}">{{ file.name }}</a></td>
        <td>{{ file.modified }}</td>
        <td>{{ file.size }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
