{% extends "layout.html" %}
{% block extra %}
<style>
    body { background-color: #F8F8F8; }
</style>
{% endblock %}
{% block files %}
<table>
    <col width="40">
    <col width="560">
    <col width="180">
    <col width="300">
    <tr>
        <th align="left"></th>
        <th align="left">Filename</th>
        <th align="left">Size</th>
        <th align="left">Last modified</th>
    </tr>
    <tr>
        <td></td>
        <td><a href="../">Parent directory/</a></td>
        <td>-</td>
        <td>-</td>
    </tr>
    {% for file in ig.files %}
    <tr>
        {% if file.isDir %}
        <td><img src="data:image/svg+xml;base64,{{ file.icon }}" width="30" /></td>
        <td><a href="{{ file.path }}">{{ file.name }}/</a></td>
        <td>-</td>
        {% else %}
        <td><img src="data:image/svg+xml;base64,{{ file.icon }}" width="30" /></td>
        <td><a href="{{ file.path }}">{{ file.name }}</a></td>
        <td>{{ file.size }}</td>
        {% endif %}
        <td>{{ file.modified }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
